a {
  text-decoration: none;
  // color: aqua;
}

.bg-view {
  background-color: #eff0f2;
}

.bg-btn-device {
  background-color: #FFF7E6;
}

.bg-btn-close {
  background-color: #F3F4F6;
}

.text-btn-device {
  color: #FAB300;
}